@keyframes minimize-header {
  to {
    transform: translate(-50px, -50px);
    color: green;
  }
}

.visible.minimized-header {
  opacity: 1;
  position: absolute;
  animation: minimize-header 2s ease-out;
}
