@keyframes minimize-header {
  from {
    position: relative;
    top: 50px;
    left: 50px;
  }
  to {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: green;
  }
}

.present .minimized-header {
  position: relative;
  animation: minimize-header 2s ease-out;
}
