@keyframes minimize-header {
  to {
    transform: translate(-200px, -200px);
    color: green;
  }
}

.visible.minimized-header {
  opacity: 1;
  animation: minimize-header 0.5s ease-in;
  animation-fill-mode: forwards;
}

.reveal h2 {
  color: #ffe417;
}
